@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>PE2</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: auto; /*tự động canh lề*/
        }

        th, td {
            border: 1px solid gray;
            padding: 10px; /*đẩy nội dung ra xa viền*/
            text-align: left;
        }

            th.HaVy {
                background-color: gray;
            }

        span.topic {
            font-weight: bold;
            color: blue;
        }

        note {
            font-size: 12px;
            color: gray;
        }

        td.lastpost {
            font-size: 12px;
            color: blue;
        }
        b {
            color:aqua;
        }
    </style>
</head>
<body>
    <div>
        <table class="table">
        <tr>
            <th class="HaVy"> Topic </th>
            <th class="HaVy"> Post  </th>
            <th class="HaVy"> Views </th>
            <th class="HaVy"> Last Post </th>
        </tr>
        <tr>
            <td>
                <i class='fa fa-lock'></i>
                <span class="topic" ,  >Posting Guidelines</span><br>
                <span class="note"> Posted in <b> Please Read First! </b> by Joe Gillespie </span>
            </td>
            <td> 1 </td>
            <td> 288 </td>
            <td class="lastpost">Dec 21, 2003<br>by Joe Gillespie</td>
        </tr>
        <tr>
            <td>
                <i class='fa fa-lock'></i>
                <span class="topic"> Forum Rules</span><br>
                <span class="note"> Posted in <b> Please Read First! </b> by Joe Gillespie </span>
            </td>
            <td> 1 </td>
            <td> 2023 </td>
            <td class="lastpost">Dec 21, 2003<br>by Joe Gillespie</td>
        </tr>
        <tr>
            <td>
                <i class="fa-regular fa-comment"></i>
                <span class="topic"> A suitable Word Templat </span><br>
                <span class="note">Posted in <b>Web Design Software</b> by Wilson Lagg</span>
            </td>
            <td> 2 </td>
            <td> 199 </td>
            <td class="lastpost">Mar 28, 2008<br>by Shahzad Asif</td>
        </tr>
        <tr>
            <td>
                <i class="fa-regular fa-comment"></i>
                <span class="topic"> few HTML and CSS issues</span><br>
                <span class="note">Posted in <b>Layout</b> by Jade M</span>
            </td>
            <td>3</td>
            <td>1</td>
            <td class="lastpost">Mar 28, 2008<br>by Shahzad Asif</td>
        </tr>
        </table>
    </div>
</body>
</html>
