@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Báo Tuổi Trẻ</title>
    <meta charset="UTF-8">
    <meta name="description" content="Bài tập thực hành lập trình Web buổi 1 bài tập 1">
    <meta name="keywords" content="Lập trình Web cơ bản">
</head>
<body>
    <div>
        <h1>Hãng phát hành Solo Leveling bắt tay cùng Google để tiêu diệt sách lậu</h1>
        <img src="https://static-tuoitre.tuoitre.vn/tuoitre/web_images/author_default.png" alt="avatar" width="30" height="30" />
        <span>TÔ CƯỜNG</span>
        <p>
            <b>Kakao Entertainment - hãng phát hành manhwa Solo Leveling - vừa được Google công nhận là công ty Hàn Quốc đầu tiên trở thành thành viên chính thức của Trusted Copyright Removal Program (TCRP).</b>
        </p>
        <img src="https://cdn2.tuoitre.vn/thumb_w/730/471584752817336320/2025/5/21/solo-leveling-season-2-ending-sung-jinwoo-statue-of-god-double-dungeon-1-convertio-17478157254742121968761.jpg" alt="ảnh nền" />
        <p>
            <em>Từ năm 2023, Kakao đã áp dụng nhiều công nghệ chống vi phạm như gắn watermark, nhận diện hình ảnh và phân tích hành vi người dùng để truy quét các trang web lậu - Ảnh: Aniplex</em>
        </p>
        <p>
            Quyết định được Google đưa ra ngày 9-7, ghi nhận những thành tựu đáng kể của nhóm phản ứng chống phát tán lậu P.CoK - đơn vị tiên phong trong ngành webtoon và web novel toàn cầu do hãng phát hành manhwa Solo Leveling thành lập.
        </p>
        <p>
            TCRP là chương trình bảo vệ sở hữu trí tuệ của Google, chỉ hợp tác với những công ty có năng lực cung cấp lượng lớn dữ liệu xác thực về vi phạm bản quyền.
        </p>
        <p>
            Trước đó, tờ Dailian của Hàn Quốc đã đưa tin ông Park Jeon Sung, trưởng nhóm pháp lý về sở hữu trí tuệ (IP) của Kakao Entertainment, hé lộ với truyền thông cách công ty này đang mạnh tay đối phó với nạn phát tán webtoon và web novel lậu.
        </p>
        <p>
            Ông Park cũng là người đứng đầu đơn vị chống vi phạm bản quyền P.CoK.
        </p>
        <p>
            <h3>Mạnh tay sau cơn sốt Solo Leveling, Tower of God</h3>
        </p>
        <p>
            Theo ông Park, khi phát hiện một trang web xâm phạm bản quyền, Kakao sẽ triển khai quy trình bốn bước gồm thu thập dữ liệu, phân tích mẫu hình, xây dựng giả thuyết và xác minh. "Kinh nghiệm và kỹ năng tích lũy qua quá trình này là điều tạo nên sự khác biệt của Kakao so với các công ty nội địa lẫn quốc tế", ông chia sẻ.
        </p>
        <img src="https://cdn2.tuoitre.vn/thumb_w/730/471584752817336320/2025/9/18/dominic-mclaughlin-harry-potter-17-17582045664331397380617.png" alt="error" />
        <p>
            <em>Kakao là người khổng lồ giải trí hàng đầu Hàn Quốc ở lĩnh vực này, với nhiều đầu truyện hãng này phát hành đã được chuyển thể thành anime - Ảnh: Crunchyroll </em>
        </p>
        <p>
            Đội ngũ quốc tế của hãng còn theo dõi việc các tác phẩm bị đổi tên và phát tán trong cộng đồng kín ở nhiều quốc gia.
        </p>
        <p>
            Ngoài webtoon, P.CoK cũng xử lý các sản phẩm phái sinh như hàng lưu niệm không phép, nhằm bảo vệ giá trị thương mại lâu dài của IP.
        </p>
        <p>
            Tháng trước, tòa án Hàn Quốc kết án quản trị viên trang Ajitun - một trong những trang lậu lớn - 2 năm tù và phạt gần 50.000 USD.
        </p>
        <p>
            Tuy nhiên, ông Park cho rằng khung hình phạt hiện nay còn quá nhẹ, biện pháp chặn trang dễ bị vô hiệu, khiến tình trạng tái diễn.
        </p>
        <p>
            Ông đề xuất bổ sung chế tài bồi thường thiệt hại gấp nhiều lần và tăng cường thu hồi lợi nhuận phi pháp bằng cách sửa đổi Luật Bản quyền cũng như Luật An ninh mạng.
        </p>
        <img src="https://cdn2.tuoitre.vn/thumb_w/730/471584752817336320/2024/1/19/solo-leveling-1-1705636805948831786339.jpg" alt=" ảnh lỗi rồi " />
        <p>
            <em>
                Trong bối cảnh làn sóng webtoon đang ngày càng trở nên mạnh mẽ sau các hiện tượng như Solo Leveling hay Raeliana, các hãng phát hành webtoon bản quyền buộc phải đẩy mạnh công cuộc bảo vệ quyền lợi của mình - Ảnh: A-1 Studios
            </em>
        </p>
        <p>
            Kakao hiện là một trong những nhà phân phối webtoon và web novel lớn nhất Hàn Quốc, với các tác phẩm đình đám như Solo Leveling, Why Raeliana Ended Up at the Duke's Mansion, Doctor Elise, A Returner's Magic Should Be Special và Latna Saga.
        </p>
        <p>
            Công ty vận hành KakaoPage tại Hàn Quốc, Tapas cho thị trường tiếng Anh, cùng Piccoma tại Nhật Bản - nền tảng manga kỹ thuật số có doanh thu cao nhất năm 2023.
        </p>
        <p>
            Ngoài các biện pháp kỹ thuật, Kakao còn tích cực sử dụng biểu mẫu gỡ bỏ Đạo luật bản quyền kỹ thuật số của Google, với hàng trăm triệu yêu cầu được gửi đi.
        </p>
        <p>
            Riêng ngày 29-4-2024, công ty báo cáo gỡ tới 7,4 triệu trang web vi phạm. Tính đến đầu tháng 4-2025, con số này đạt 2,2 triệu trang web trong một lần báo cáo.
        </p>

    </div>
</body>
</>
